<%= locals[:player].name %> vs <%= locals[:computer].name %>

<%squares = locals[:board].squares %>

<% if locals[:result] %>
	<% if locals[:result] == "Player" || locals[:result] == "Computer" %>

		<h1> <%= locals[:result] %> has won </h1>
	<% elsif locals[:result] == "Tie" %>
		<h1> You and computer have tied! </h1>
	<% end %>
	<h2><a href="/new_game"> Play again? </a></h2>
<% end %>
	
<style>
	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		max-width: 1000px;
		max-height: 1000px;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		background-color: #0ef2f5;
	}


	.cell {
		width: 200px;
		height: 200px;
		background-color: #3a64b9;
		border-radius: 10%;
		padding: 10px;
	}

	.cell:hover {
		background-color: #4a7de5;
	}

	form {
		display: block;
		height: 100%;
		width: auto;
		margin: 0 auto;
	}

	marker {
		font-size: 30px;
		text-align: center;
		color: #ffffff;
	}



</style>

<section class="board">

	
	<div class="cell">
	<div class="marker"><%= squares[1] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="1" value=<%=squares[1].marker%>>
				<input type="submit" value="" />
			</form>
	</div>
		
	<div class="cell">
	<div class="marker"><%= squares[2] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="2" value=<%=squares[2].marker%>>
				<input type="submit" value="" />
			</form>
		</div>
		
	<div class="cell">
	<div class="marker"><%= squares[3] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="3" value=<%=squares[3].marker%>>
				<input type="submit" value="" />
			</form>
		</div>
	

		<div class="cell">
		<div class="marker"><%= squares[4] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="4" value=<%=squares[4].marker%>>
				<input type="submit" value="" />
			</form>
		</div>

		<div class="cell">
		<div class="marker"><%= squares[5] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="5" value=<%=squares[5].marker%>>
				<input type="submit" value="" />
			</form>
		</div>
		

		<div class="cell">
		<div class="marker"><%= squares[6] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="6" value=<%=squares[6].marker%>>
				<input type="submit" value="" />
			</form>
		</div>
	
		<div class="cell">
		<div class="marker"><%= squares[7] %></div>
			<form action="/play" method="post">
			<input type="hidden" name="7" value=<%=squares[7].marker%>>
			<input type="submit" value="" />
			</form>
		</div>
	
		<div class="cell">
		<div class="marker"><%= squares[8] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="8" value=<%=squares[8].marker%>>
				<input type="submit" value="" />
			</form>
		</div>
	
		<div class="cell">
		<div class="marker"><%= squares[9] %></div>
			<form action="/play" method="post">
				<input type="hidden" name="9" value=<%=squares[9].marker%>>
				<input type="submit" value="" />
			</form>
		</div>
</section>
